*/.objs
*.o
*.d
.vscode
*/main
**/main
**/*.dSYM
*/info.plist
# Prerequisites
*.d
# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.sqlite
.vs
# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.zip

# Created by https://www.toptal.com/developers/gitignore/api/codeblocks
# Edit at https://www.toptal.com/developers/gitignore?templates=codeblocks

### CodeBlocks ###
# specific to CodeBlocks IDE
*.layout
*.depend
# generated directories
bin/
obj/

# End of https://www.toptal.com/developers/gitignore/api/codeblocks